{
  "presets": ["es2015-rollup", "react"],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "production": {
      "presets": ["babili"]
    },
    "webpack": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
