{
  "env": {
    "jest": true
  },
  "globals": {
    "createSpyObj": true
  },
  "rules": {
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "react/no-multi-comp": 0,
    "react/prop-types": 0,
    "react/no-find-dom-node": 0,
    "react/no-array-index-key": 0,
    "no-template-curly-in-string": 0,
    "jsx-a11y/no-static-element-interactions": 0
  }
}
